<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>DeleteContactServlet</display-name>
    <servlet-name>DeleteContactServlet</servlet-name>
    <servlet-class>com.shubham.controller.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContactServlet</servlet-name>
    <url-pattern>/DeleteContactServlet</url-pattern>
  </servlet-mapping>
  <display-name>ManasRestaurant</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServiceModuleServlet1</display-name>
    <servlet-name>ServiceModuleServlet1</servlet-name>
    <servlet-class>com.shubham.controller.ServiceModuleServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceModuleServlet1</servlet-name>
    <url-pattern>/ServiceModuleServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadServletModule</display-name>
    <servlet-name>ReadServletModule</servlet-name>
    <servlet-class>com.shubham.controller.ReadServletModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadServletModule</servlet-name>
    <url-pattern>/ReadServletModule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadFourServiceModule</display-name>
    <servlet-name>ReadFourServiceModule</servlet-name>
    <servlet-class>com.shubham.controller.ReadFourServiceModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadFourServiceModule</servlet-name>
    <url-pattern>/ReadFourServiceModule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadUpdateDeleteServlet</display-name>
    <servlet-name>ReadUpdateDeleteServlet</servlet-name>
    <servlet-class>com.shubham.controller.ReadUpdateDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadUpdateDeleteServlet</servlet-name>
    <url-pattern>/ReadUpdateDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServiceServlet</display-name>
    <servlet-name>DeleteServiceServlet</servlet-name>
    <servlet-class>com.shubham.controller.DeleteServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServiceServlet</servlet-name>
    <url-pattern>/DeleteServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServiceServlet</display-name>
    <servlet-name>UpdateServiceServlet</servlet-name>
    <servlet-class>com.shubham.controller.UpdateServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServiceServlet</servlet-name>
    <url-pattern>/UpdateServiceServlet</url-pattern>
  </servlet-mapping>
</web-app>